In [1]:
import pandas as pd

In [2]:
df_reviews = pd.read_csv('datasets/imdb_reviews.tsv', sep='\t', dtype={'votes': 'Int64'})

In [5]:
df_reviews.sample(10)

,tconst,title_type,primary_title,original_title,start_year,end_year,runtime_minutes,is_adult,genres,average_rating,votes,review,rating,sp,pos,ds_part,idx
33542,tt0114614,movie,Tank Girl,Tank Girl,1995,\N,104,0,"Action,Comedy,Sci-Fi",5.4,29541,"The film is very fast-moving, bizarre and colo...",3,neg,0,test,7107
27452,tt0350022,movie,Quigley,Quigley,2003,\N,89,0,"Comedy,Family,Fantasy",2.4,411,"My entire family enjoyed this film, including ...",8,pos,1,test,5178
2547,tt0264366,tvMovie,And Never Let Her Go,And Never Let Her Go,2001,\N,200,0,"Crime,Drama,Mystery",6.4,551,Too bad a couple of comments before me don't k...,8,pos,1,train,795
27057,tt0093176,movie,Prom Night II,Hello Mary Lou: Prom Night II,1987,\N,97,0,"Horror,Thriller",5.7,4987,Prom Night 2 is an OK horror movie but prom ni...,4,neg,0,train,8156
37305,tt0091129,movie,The Golden Child,The Golden Child,1986,\N,94,0,"Action,Adventure,Comedy",6.0,49768,"While this movie has many flaws, it is in fact...",7,pos,1,train,1238
31609,tt0120157,movie,Soldier,Soldier,1998,\N,99,0,"Action,Drama,Sci-Fi",6.0,50741,David Webb Peoples meets Paul Anderson...if it...,7,pos,1,train,3228
8852,tt0101656,movie,Dangerous Game,Dangerous Game,1988,\N,98,0,"Drama,Horror,Thriller",5.0,286,"This is the story of a maniac cop who, for som...",3,neg,0,test,360
43606,tt0167456,movie,Thunderbirds,Thunderbirds,2004,\N,95,0,"Action,Adventure,Comedy",4.2,12900,wow i payed Â£3.50 to go see this movie at the ...,1,neg,0,train,5989
30740,tt0708446,tvEpisode,Shore Leave,Shore Leave,1966,\N,50,0,"Action,Adventure,Sci-Fi",7.6,2881,"""Shore Leave"" is mostly an average Star Trek a...",7,pos,1,train,1397
24056,tt0119780,movie,"Niagara, Niagara","Niagara, Niagara",1997,\N,93,0,"Drama,Romance",7.1,1505,Niagra Niagra was certainly not the best movie...,8,pos,1,test,11017

In [4]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47331 entries, 0 to 47330
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           47331 non-null  object
 1   title_type       47331 non-null  object
 2   primary_title    47331 non-null  object
 3   original_title   47331 non-null  object
 4   start_year       47331 non-null  int64
 5   end_year         47331 non-null  object
 6   runtime_minutes  47331 non-null  object
 7   is_adult         47331 non-null  int64
 8   genres           47331 non-null  object
 9   average_rating   47329 non-null  float64
 10  votes            47329 non-null  Int64
 11  review           47331 non-null  object
 12  rating           47331 non-null  int64
 13  sp               47331 non-null  object
 14  pos              47331 non-null  int64
 15  ds_part          47331 non-null  object
 16  idx              47331 non-null  int64
dtypes: Int64(1), float64(1), int64(5), object(10)
memory usage: 6.2+ MB

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm

df = pd.DataFrame(np.random.randint(0, 100, (100000, 6)))

# Register `pandas.progress_apply` and `pandas.Series.map_apply` with `tqdm`
# (can use `tqdm.gui.tqdm`, `tqdm.notebook.tqdm`, optional kwargs, etc.)
tqdm.pandas(desc="my bar!")

# Now you can use `progress_apply` instead of `apply`
# and `progress_map` instead of `map`
df.progress_apply(lambda x: x**2)
# can also groupby:
df.groupby(0).progress_apply(lambda x: x**2)

C:\ProgramData\Anaconda3\lib\site-packages\tqdm\std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
my bar!: 100%|ââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââ| 6/6 [00:00<00:00, 299.76it/s]
my bar!: 100%|ââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââ| 100/100 [00:00<00:00, 799.88it/s]

          0     1     2     3     4     5
0      7921  1024  7569  3721  2809  9604
1      2601  1444   144   121   324  7744
2      8649  2916   169  7569  3025  7921
3       529  1369  3600   144   196  2116
4      8281  7921  5041  2025  2401  4900
...     ...   ...   ...   ...   ...   ...
99995  3364  4356  3136  9409  9216  3721
99996  5929  4489    25  3969  3364  1225
99997     0  5625   841  6400  7396   841
99998  6889  1296    25  7744   256  7056
99999   784   784  2916  1444  1681   961

[100000 rows x 6 columns]